@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PhoBlober</h1>
    <p>This a 'developer and tutor' portfolio project I use when I apply for jobs and contracts with my developer and tutor contract jobs </p>
    <p>Visit my website <a href="https://stories.thechalakas.com/">the chalakas</a>, or my <a href="https://github.com/Jay-study-nildana">github</a>. Consider hiring me on <a href="https://www.upwork.com/fl/vijayasimhabr">Upwork</a> or <a href="https://www.fiverr.com/jay_codeguy">Fiverr</a> or book a session on <a href="https://calendly.com/jaycodingtutor/30min">calendly</a></p>
</div>
<hr />
<div class="text-center">
    <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PhotoUpload">Upload photo</a></button>
    <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PhotoUploadMultiple">Upload (multiple) photos</a></button>
    <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PhotoDisplay">Photo Display</a></button>
</div>
