@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Photo Upload Successfull";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>Photo Upload Successfull</p>

    <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PhotoUpload">Upload another photo</a></button>
    <button><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PhotoUploadMultiple">Upload (multiple) photos</a></button>
</div>


