@using AzureBlogWebAppDemo.DTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PhotoUploadDTO

<form asp-action="PhotoUploadForAnalysis" enctype="multipart/form-data">
    <br />
    <div class="container border p-3">
        <h1 class="text-center">Photo Upload For Analysis</h1>

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;"> Photo Description (Optional) </label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="PhotoDescription" class="form-control" />
                @* <span asp-validation-for="PhotoDescription" class="text-danger"></span> *@
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Photo Name (Optional)</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="PhotoName" class="form-control" />
                @* <span asp-validation-for="PhotoName" class="text-danger"></span> *@
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">container Name (Optional)</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" type="text" id="containerName" name="containerName" value="">
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">ImageUrl</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">

                <a asp-action="Index" class="btn-primary btn form-control ">Back to Home</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Upload Image" class="btn btn-success form-control" />

            </div>

        </div>

        <div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
